<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details If Thymeleaf</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <h2 th:text="${subtitle}"></h2>
    <ul>
        <li th:text="${name}"></li>
        <li th:text="${lastname}"></li>
        <li th:if="${email != null}" th:text="${email}"></li>
        <li th:if="${not (email != null)}" th:text="${'No tiene contenido'}"></li>
    </ul>
</body>
</html>